/* French letters */
// ZMK_UNICODE_PAIR(fr_ae,             N0, N0, E, N6,   N0, N0, C, N6)  // æ/Æ
// ZMK_UNICODE_PAIR(fr_oe,             N0, N1, N5, N3,  N0, N1, N5, N2) // œ/Œ
ZMK_UNICODE_PAIR(fr_a_grave,        KP_N0, KP_N2, KP_N2, KP_N4,    KP_N0, KP_N1, KP_N9, KP_N2)  // à/À
ZMK_UNICODE_PAIR(fr_a_circumflex,   KP_N0, KP_N2, KP_N2, KP_N6,    KP_N0, KP_N1, KP_N9, KP_N4)  // â/Â plus 
ZMK_UNICODE_PAIR(fr_c_cedilla,      KP_N0, KP_N2, KP_N3, KP_N1,    KP_N0, KP_N1, KP_N9, KP_N9)   // ç/Ç
ZMK_UNICODE_PAIR(fr_e_grave,        KP_N0, KP_N2, KP_N3, KP_N2,    KP_N0, KP_N2, KP_N0, KP_N0)   // è/È
ZMK_UNICODE_PAIR(fr_e_acute,        KP_N0, KP_N2, KP_N3, KP_N3,    KP_N0, KP_N2, KP_N0, KP_N1)   // é/É
ZMK_UNICODE_PAIR(fr_e_circumflex,   KP_N0, KP_N2, KP_N3, KP_N4,    KP_N0, KP_N2, KP_N0, KP_N2)    // ê/Ê
ZMK_UNICODE_PAIR(fr_e_diaeresis,    KP_N0, KP_N2, KP_N3, KP_N5,    KP_N0, KP_N2, KP_N0, KP_N3)    // ë/Ë
ZMK_UNICODE_PAIR(fr_i_circumflex,   KP_N0, KP_N2, KP_N3, KP_N8,    KP_N0, KP_N2, KP_N0, KP_N6)    // î/Î
ZMK_UNICODE_PAIR(fr_i_diaeresis,    KP_N0, KP_N2, KP_N3, KP_N9,    KP_N0, KP_N2, KP_N0, KP_N7)   // ï/Ï
ZMK_UNICODE_PAIR(fr_o_circumflex,   KP_N0, KP_N2, KP_N4, KP_N4,    KP_N0, KP_N2, KP_N1, KP_N2)  // ô/Ô
ZMK_UNICODE_PAIR(fr_u_grave,        KP_N0, KP_N2, KP_N4, KP_N9,    KP_N0, KP_N2, KP_N1, KP_N7)  // ù/Ù
ZMK_UNICODE_PAIR(fr_u_circumflex,   KP_N0, KP_N2, KP_N5, KP_N1,    KP_N0, KP_N2, KP_N1, KP_N9)   // û/Û
// ZMK_UNICODE_PAIR(fr_u_diaeresis,    N0, N0, F, C,   N0, N0, D, C)   // ü/Ü plus
// ZMK_UNICODE_PAIR(fr_y_diaeresis,    N0, N0, F, F,    N0, N1, N7, N8) // ÿ/Ÿ 


